@model IEnumerable<TeacherViewModel>

@{
    ViewData["Title"] = "مدرس";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h3 class="panel-title">@ViewData["Title"]</h3>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <a class="btn btn-success" href="#" id="btnCreateNew"><i class="fa fancytree-ico-c"> </i> افزودن مدرس جدید</a>
                </div>
            </div>
        </div>
    </div>



    <div class="panel-body">

        @(Html
                                                                              .Grid(Model)
                                                                              .Build(columns =>
                                                                              {
                                                                                  columns.Add(model => model.User.DisplayName).Titled("نام");
                                                                                  columns.Add(model => model.User.PhoneNumber).Titled("تلفن");
                                                                                  columns.Add(model => model.User.UserName).Titled("نام کاربری");
                                                                                  columns.Add(model => model.User.Email).Titled("ایمیل");

                                                                                  columns.Add(model =>

                     $"<a  href=\"Institute/{model.Id} \" class=\"btn btn-sm btn-primary\" style=\"margin-left:10px\">دوره ها</a>").Encoded(false);

                                                                              })
                                                                                    .Empty("دوره ای یافت نشد")
                                                                                    .Filterable()
                                                                                    .Sortable()
                                                                                    .Pageable(pager =>
                                                                                    {
                                                                                        pager.ProcessorType = GridProcessorType.Manual;
                                                                                        pager.TotalRows = ViewBag.TotalRows;
                                                                                        pager.RowsPerPage = 10;
                                                                                    })
        )


    </div>



    <div class="panel-footer">
        تعداد کل مدرس ها : @Model.Count()
    </div>


</div>



@section Scripts
    {
    <script src="~/server/assets/js/core/MvcGrid.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#btnCreateNew').click(function (e) {
                e.preventDefault();

                $.bootstrapModalAjaxForm({

                    postUrl: '@Url.Action("AddEditTeacher", "Institute")',
                    renderModalPartialViewUrl: '@Url.Action("RenderTeacher", "Institute")',
                    renderModalPartialViewData: {},
                    loginUrl: '/Panel/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });






            $("a[id^='btnEdit']").click(function (e) {
                e.preventDefault();
                var slideId = $(this).data("edit-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("AddEditTeacher", "Institute")',
                    renderModalPartialViewUrl: '@Url.Action("RenderTeacher", "Institute")',
                    renderModalPartialViewData: JSON.stringify({ "id": slideId }),
                    loginUrl: '/Panel/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault();
                var slideId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("DeleteInstitute", "Institute")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDeleteInstitute", "Institute")',
                    renderModalPartialViewData: JSON.stringify({ "id": slideId }),
                    loginUrl: '/Panel/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });
        });


    </script>

}
